#page {
  header {
    @include grid-row();
    .entry-title {
      @include grid-column(6);
      @include grid-column-position(center);
      h1 {
        color: $red;
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 0;
      }
    }
  }
  .main-content {
    margin-bottom: 2rem;
    @include grid-row();
    .page-content {
      @include grid-row();
      .page-content-col {
        @include grid-column(10);
        @include grid-column-position(center);
      }
    }
  }
  .about-fields {
    margin-top: 1rem;
    .about-content {
      @include grid-row();
      font-style: italic;
      .about-hours {
        @include grid-column(9);
        color: $gold;
      }
      .about-phone {
        @include grid-column(3);
        color: $brown;
        p {
          float: right;
        }
      }
    }
    .about-images {
      @include grid-row();
      margin-bottom: 2rem;
      .about-image-col {
         @include grid-column(12);
         @include breakpoint(medium) {
            @include grid-column(4);
         }

        .about-image {
          @include breakpoint(small only) {
            margin: 1rem auto;
          }
          border: 3px solid $red;
          box-shadow: 0px 2px 2px $medium-gray;
          width: 100%;
          height: 250px;
          img {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
  .locations-page-content {
    margin-top: 2rem;
  }
}

.post-10 {
   ul {
      list-style: none;
      li {
         text-indent: -.7em;
         &:before {
           font-family:"Arial Black";
           content: "■";
           padding-right:7px;
           color: $red;
         }
      }
   }
}

//Contact Page
.contact-page {
   margin-top: 2rem;
   .contact-page-content {
      @include grid-row();
      .contact-page-form {
         @include grid-column(12);
         @include breakpoint(medium) {
            @include grid-column(7);
            border-right: 1px solid $gold;
         }
         .wpcf7 {
            padding: 0 2rem;
         }
         input[type="submit"] {
            background-color: $red;
            color: $white;
            padding: 0.75rem 1.2rem;
            font-size: 1.2rem;
            border: none;
            @include breakpoint(large) {
               &:hover {
                  @include transition-all;
                  color: $red;
                  background-color: $white;
               }
            }
         }
      }
      .contact-page-side {
         @include grid-column(12);
         @include breakpoint(medium) {
            @include grid-column(5);
         }
         .side-padding {
            padding-left: 1rem
         }
         p {
            margin-bottom: 0.5rem;
            font-size: 0.9rem;
         }
         iframe {
            border: 3px solid $red;
            height: 125px;
         }
      }
   }
}
