/*===========
	Hero
  =========== */
#page-home {
	.home-hero-container {
		width: 100%;
		height: 100vh;
		overflow: hidden;
    	position: relative;
		background-image: url(../images/redcat-main-bg-1.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		@include breakpoint(large) {
			background-attachment: fixed;
		}
		background-position: center center;
		border-bottom: 2px solid $gold;
	}
	#hero-overlay {
	  	position: absolute;
	  	width: 100%;
	  	height: 100vh;
	  	top: 0;
	  	left: 0;
	  	z-index: 1;
	  	background-color: rgba(255,252,239,0.7);
	}
	.home-hero-content {
		@include vertical-align;
		@include breakpoint(large) {
			margin-top: 4rem;
		}
		z-index: 2;
		text-align: center;
		.white-divide {
			padding: 1rem 0;
		}
		.home-arrow {
			p, i {
				color: $gold;
			}
			p {
				font-family: $perm-marker;
				font-size: 1.5rem;
				margin: 2rem 0 0 0;
			}
			i {
				font-size: 6rem;
			}
		}
	}
	.home-main-content {
		background-image: url(../images/redcat-chalkboard.jpg);
		background-repeat: repeat;
		background-position: center center;
		padding: 1rem;
		@include breakpoint(large) {
			background-attachment: fixed;
			padding: 3rem;
		}
	}
}

.gold-divide {
  border-bottom: 1px solid $gold;
  width: 80%;
  margin: 1rem auto;
  @include breakpoint(large) {
    width: 60%;
    margin: 2rem auto;
  }
}

.title {
  position: relative;
  width: 100%;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  h1, h3 {
    color: $white;
    position: relative;
    width: 100%;
    z-index: 2;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
  }
  h3 {
    top: 35%;
    @include breakpoint(medium) {
      top: 32%;
    }
  }
}

/*===========
   Locations
  =========== */
.section-locations {
	text-align: center;
}

@include breakpoint(large) {
	.locations-title {
	  background-image: url(../images/redcat-titlebg-1.png);
	  height: 235px;
	  h1 {
	    top: 37%;
	  }
	}
}


.location-block {
	border: 4px solid $brown;
	text-align: left;
	margin: 2rem auto;
	figure {
		margin: 0;
		@include breakpoint(large) {
			height: rem-calc(290);
		}
		img {
			width:100%;
			height: 100%;
		}
	}
	figcaption {
		background-color: $white;
		padding: 1rem;
		h4 {
			color: $gold;
		}
		iframe {
			border: 0;
			width: 100%;
			height: 100%;
		}
		p {
			padding-left: 0.5rem;
			text-align: left;
			font-size: 0.85rem;
			margin-bottom: 0.5rem;
		}
		.menu-btn {
			border: 2px solid $red;
			font-size: 1.2rem;
			font-family: $perm-marker;
			background-color: transparent;
			padding: 1rem 0.5rem;
			p {
				text-align:center;
				margin-top: 0.8rem;
				padding-left: 0;
				font-size: 1.2rem;
			}
			&:hover {
				@include transition-all;
				background-color: $red;
				color: $white;
			}
		}
	}
}

/*===========
   	 About
  =========== */
#section-about {
	.about-excerpt {
		color: $white;
		padding: 1.5rem 1rem 0 1rem;
		@include breakpoint(large) {
			padding: 3.5rem 2rem 0 1rem;
		}
	}
	.about-read-more {
		font-family: $perm-marker;
		color: $gold;
	}
}

@include breakpoint(large) {
	.about-title {
	  background-image: url(../images/redcat-titlebg-2.png);
	  height: 235px;
	  h1 {
	    top: 35%;
	  }
	}
}


/*===========
   	Carousel
  =========== */

.slick-slider {
	margin-bottom: 0;
	// .slick-track {
	// 	height: 125px;
	// 	.slick-slide {
	// 		height: 125px;
	// 		img {
	// 			height: 125px;
	// 		}
	// 	}
	// }
	@include breakpoint(large) {
		.slick-track {
			height: 250px;
			.slick-slide {
				height: 250px;
				img {
					height: 250px;
				}
			}
		}
	}
}

.slick-prev {
	left: 25px;
	z-index: 10;
}

.slick-next {
	right: 25px;
	z-index: 10;
}
