@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin transition-all {
  -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

@mixin linearGradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

@font-face {
  font-family: 'LHFChicago';
  src: url(../../assets/fonts/moxy/LHFChicagoScript.eot); /* IE9 Compat Modes */
  src: url(../../assets/fonts/moxy/LHFChicagoScript.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
       url(../../assets/fonts/moxy/LHFChicagoScript.woff2) format('woff2'), /* Super Modern Browsers */
       url(../../assets/fonts/moxy/LHFChicagoScript.woff) format('woff'), /* Pretty Modern Browsers */
       url(../../assets/fonts/moxy/LHFChicagoScript.ttf)  format('truetype'), /* Safari, Android, iOS */
       url(../../assets/fonts/moxy/LHFChicagoScript.otf) format('otf'),
       url(../../assets/fonts/moxy/LHFChicagoScript.svg#svgFontName) format('svg'); /* Legacy iOS */
}