#footer-container {
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	.ft-top {
		background-image: url(../images/redcat-chalkboard.jpg);
		background-repeat: repeat;
		padding: 1.5rem;
		@include breakpoint (medium) {
			padding: 3rem 1rem;
		}
		@include breakpoint(large) {
			background-attachment: fixed;
			padding: 2rem 1rem;
		}
		.ft-links {
			@include breakpoint (medium) {
				border-right: 1px solid $gold;
			}
			a {
				color: $white;
				font-family: $perm-marker;
				font-size: 1.1rem;
				text-align: center;
			}
			.title {
				// height: 150px;
				// width: 60%;
				// margin: 1rem auto;
				@include breakpoint (medium down) {
					height: 100%;
					width: 100%;
					margin-top: 1rem;
				}
				@include breakpoint (large) {
					width: 90%;
					height: 190px;
				}
				h3 {
					line-height: 1;

				}
			}
			@include breakpoint (large) {
					.signature-title {
						background-image: url(../images/redcat-titlebg-3.png);
						}

					.press-title {
						background-image: url(../images/redcat-titlebg-4.png);
					}
			 }
		}
		.ft-connect {
			text-align: center;
			padding: 0 2rem;
			h3 {
				margin-top: 1rem;
				@include breakpoint (large) {
					margin-top: 4rem;
				}
				color: $white;
			}
			ul {
				list-style-type: none;
				margin: 1rem 0 0 0;
				@include breakpoint (large) {
					margin: 3.5rem 0 0 0;
				}
				padding: 0;
				li {
					display: inline-block;
					margin: 0 0.3rem;
					a {
						.fa {
							font-size: 1.3rem;
							padding: 1rem;
							@include breakpoint (large) {
								font-size: 1.5rem;
								padding: 1.2rem;
							}
							background-color: $white;
							border-radius: 50%;
							@include breakpoint (large) {
								&:hover {
									@include transition-all;
									background-color: $red;
									color: $white;
								}
							}
						}
						.fa-facebook {
							padding: 1rem 1.25rem;
							@include breakpoint (large) {
								padding: 1.2rem 1.5rem;
							}
						}
					}
				}
			}
		}
	}
	#footer {
		padding: rem-calc(30) 0;
		background-color: $red;
		color: $white;
		@include breakpoint(small only) {
			text-align: center;
		}
		.copy {
			font-size: 0.75rem;
			text-align: center;
			@include breakpoint(medium) {
				font-size: 0.85rem;
				text-align: left;
			}
		}
	}
	.moxy {
		@include breakpoint(small only) {
			text-align: center;
			margin-top: 0.5rem;
		}
		@include breakpoint(medium) {
			float: right;
		}
		a {
			font-family: $moxy-font;
			color: $white;
			font-size: 1.2rem;
			@include breakpoint(large) {
				font-size: 1.5rem;
				&:hover {
					@include transition-all;
					color: $gold;
				}
			}
		}
	}
}
