/* ==========================================================================
    MOBILE TOP BAR
   ========================================================================== */

.mobile-top-bar {
    background: transparent;
    .mobile-nav-icon {
        position: absolute;
        top: 1.3rem;
        left: 1rem;
        z-index: 10;
        a {
            i {
                color: $red;
                font-size: 1.9rem;
                padding: 0.5rem;
            }
        }
        .fa {
            display: inline-block;
        }
    }

    .mobile-nav {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: 9999;
        overflow: auto;
        background: rgba($red, 0.9);
        i.close {
            position: absolute;
            top: 2rem;
            left: 1.6rem;
            color: $white;
            font-size: 1.9rem;
            &:hover {
                cursor: pointer;
            }
        }

        .mobile-nav-links {
            ul {
                float: none !important;
                list-style: none;
                margin: 4rem 0 0 0;
            }
            li {
                display: block;
                text-align: center;
                &.active {
                    a {
                        color: $white;
                    }
                }
            }
            a {
                color: $white;
                text-transform: uppercase;
                font-family: $perm-marker;
                font-weight: 900;
                font-size: 1.75rem;
                line-height: 2.75rem;
            }
        }
    }
}

.menu .active > a {
    background: transparent;
}

@include breakpoint(medium only) {
    .mobile-nav-icon {
        top: 3.5rem;
    }
    .mobile-nav {
        i.close {
            top: 3.7rem;
        }
        .mobile-nav-logo {
            width: 354px;
        }
    }
}
