/* Navigation breakpoints */

// .desktop-menu, .top-bar-left {
//   @include show-for(large);
// }
//
// #mobile-menu, .title-bar {
//   @include hide-for(large);
// }

.home .top-bar {
  z-index: 2;
  position: absolute;
  width: 100%;
}
.top-bar {
  z-index: 2;
  position: relative;
  width: 100%;
  ul {
    display: inline-block;
    li {
      position: relative;
      a {
        @include breakpoint(large) {
          width: 170px;
          margin: 0 1.3rem;
          padding: 2rem 0;
        }
        background-color: $brown;
        color: $white;
        font-family: $perm-marker;
        // &:hover {
        //   @include transition-all;
        //   background-color: $red;
        //   padding-top: 3rem;
        // }
        &::after {
          content:"";
          width: 0;
          height: 0;
          position: absolute;
          left: 10%;
          top: 100%;
          @include breakpoint(large) {
            border-left: 85px solid transparent;
            border-right: 85px solid transparent;
          }
          border-top: 25px solid $brown;
        }
      }
    }
  }
}

.menu .active > a {
  color: $white;
  background-color: $red
}

.menu .active > a::after {
  border-top: 25px solid $red;
}

.sub-logo {
  text-align: center;
  img {
    margin-top: 1rem;
  }
}
/* Mobile menu */
